:root {
  --hover-color: color-mix(in srgb, var(--clr-primary-a0), var(--clr-surface-a0) 40%);
  --conflict-color:  var(--error-color);
  --selected-color: var(--clr-primary-a0);
  --slot-row-height: 40px;
}

@media(max-width: 767px) {
  :root {
    --slot-row-height: 48px;
  }
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  gap: .5rem;
}

.gridContainer {
  width: 100%;
  overflow-x: auto;
  border-radius: 1rem;
  border: 2px solid var(--clr-surface-a20);
  -webkit-user-select: none;
  user-select: none;
  overscroll-behavior: auto;
}

.grid {
  display: grid;
  width: 100%;
  gap: 0;
  background: var(--clr-surface-a0);
  box-sizing: border-box;
}

.timeHeader {
  background: var(--clr-surface-a10);
  padding: var(--padding);
  border-right: 1px solid var(--clr-surface-a30);
  border-bottom: 1px solid var(--clr-surface-a30);
  text-align: right;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  cursor: default;
}

.machineHeader {
  background: var(--clr-surface-a10);
  padding: var(--padding);
  border-right: 1px solid var(--clr-surface-a30);
  border-bottom: 1px solid var(--clr-surface-a30);
  font-weight: bold;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: default;
}

.slotCell {
  padding: var(--padding);
  border-right: 1px solid var(--clr-surface-a30);
  border-bottom: 1px solid var(--clr-surface-a30);
  display: flex;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  cursor: default;
}

.slotCell:hover {
  cursor: pointer;
}

.dotted {
  border-bottom: 1px dashed var(--clr-surface-a30);
}

.nextDay:hover {
  cursor: not-allowed;
}

.nextDay {
  color: var(--clr-surface-a50);
}

.timeHeader.nextDay:before {
  content: "*";
}

.slotCell:has(.selectBox) {
  padding: 0;
}

.selectBox {
  --box-color: var(--hover-color);
  background-color: color-mix(in srgb, var(--box-color), var(--clr-surface-a0) 70%);
  border: 2px solid var(--box-color);
  border-radius: .5rem;
  width: 100%;
  height: 100%;
  padding: var(--padding);
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: normal;
}

.conflicting {
  --box-color: var(--conflict-color);
  font-weight: bold
}

.selected {
  --box-color: var(--selected-color);
  font-weight: bold;
}

.extended {
  --box-color: var(--clr-primary-a20);
  font-style: italic;
}

.notSelectable {
  cursor: not-allowed !important;
}

.booked {
  --box-color: var(--clr-surface-a40);
  font-weight: bold;
}

.booked:hover {
  cursor: default;
}

.ownBooking {
  --box-color: var(--clr-primary-a60);
  font-weight: bold;
}

.timeHeader.currentTimeSlot {
  font-weight: bold;
}

.slotCell.currentTimeSlot {
  background-color: var(--clr-surface-a5);
}

.lastInRow {
  border-right: none;
}

.lastInColumn {
  border-bottom: none;
}
