.layout {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.footer {
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: var(--clr-surface-tonal-a10);
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0.5rem;
  color: var(--text-color);
  margin-top: 8rem;
}

.mainContent {
  max-width: var(--max-width);
  width: 100%;
  margin: 0 auto;
  padding: 1rem;
  flex: 1;
}
